body {
     text-align:center;
     background-image: url(https://image.ibb.co/jxMgxd/imageedit_4_5022829834.png);

     }


#mainhead {
         background-color:E6E6FA;
         background-size:cover;
         height:200;
         vertical-align:middle;
         line-height:200px;
         text-decoration:underline;
     }
ul{
    margin:auto;
    width:10%;
}

#footer {
    background-color:E6E6FA;
    height: 61px;
    width:100%;
    bottom: 0;
    position: fixed;

}

.contact {
    display: inline-block;
    margin:20px;
    font-weight:bold;
    vertical-align:center;
}
#pictures {
    padding: 50px;
    position: center;
}
#pictures img {
    height: 400px;
    width: 100%;
    position: center;
    padding: 40px;
}
#body ul li {
    font-size: 30px;
    padding-top: 20px;
}
