body {
     text-align:center;
     }

#mainhead {
         background-color:E6E6FA;
         background-size:cover;
         height:200;
         vertical-align:middle;
         line-height:200px;
         text-decoration:underline;
     }
