body {
     text-align:center;
     background-color: rgba(128,91,159,1);

     }
h1, h2, h3 {
     text-decoration: underline;
}


#mainhead {
         background-color:E6E6FA;
         background-size:cover;
         height:200;
         vertical-align:middle;
         line-height:200px;
         text-decoration:underline;
     }
ul{
    margin:auto;
    width:10%;
}

#footer {
    background-color:E6E6FA;
    height: 61px;
    width:100%;
    bottom: 0;
    position: fixed;

}

.contact {
    display: inline-block;
    margin:20px;
    font-weight:bold;
    vertical-align:center;
}
#pictures {
Margin: 50px;
  
    
}
#pictures img {
    height: 500px;
    width: 700px;
    padding: 50px;
}
#body ul li {
    font-size: 30px;
    padding-top: 20px;
}
